<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tanmay.biisit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_config"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!--<receiver-->
            <!--android:name=".MediaPlayerService$MediaPlayerServiceReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tanmay.biisit.SERVICE_ACTION_START_PLAY"/>-->
                <!--<action android:name="com.tanmay.biisit.SERVICE_ACTION_RESUME"/>-->
                <!--<action android:name="com.tanmay.biisit.ACTION_PAUSE"/>-->
                <!--<action android:name="com.tanmay.biisit.ACTION_STOP"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name=".myMusic.MyMusicFragment$MyMusicFragmentReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tanmay.biisit.ACTION_PLAY"/>-->
                <!--<action android:name="com.tanmay.biisit.ACTION_PAUSE"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".myMusic.widget.MyMusicWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.tanmay.biisit.ACTION_PLAY"/>
                <action android:name="com.tanmay.biisit.ACTION_PAUSE"/>
                <action android:name="com.tanmay.biisit.ACTION_STOP"/>
                <action android:name="com.tanmay.biisit.ACTION_REDRAW"/>
                <!--<action android:name="com.tanmay.biisit.SERVICE_ACTION_PAUSE"/>-->
                <!--<action android:name="com.example.android.stackwidget.TOAST_ACTION"/>-->
                <!--<action android:name="com.tanmay.biisit.SERVICE_ACTION_START_PLAY"/>-->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_music_widget_info"/>
        </receiver>

        <service
            android:name=".myMusic.widget.MyMusicWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
    </application>

</manifest>